# IDX workspace configuration
.idx/

# Archivos y directorios de dependencias
/node_modules
/vendor

# Archivos de entorno
.env
.env.backup

# Archivos de base de datos local
/database/database.sqlite
/database/*.sqlite

# Archivos de almacenamiento de Laravel
#/storage/app/public
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

# Archivos de compilación de assets
/public/build/
/public/hot

# Otros
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Logs de paquetes
npm-debug.log
yarn-error.log
yarn-debug.log
